[general]
# this section sets general configuration

# Path to piwik home on the file system 
piwikhome: /home/dsampson/scripts/piwik

# path to PIWIK MISC directory without trailing slash
piwikMisc: /home/dsampson/scripts/piwik/misc

# URL of PIWIK to use to submit stats. Requires trailing slash
piwikUrl:http://guifette.cits.rncan.gc.ca:6080/

# path to config.ini.php configuration file
piwikConfig: "./config/config.ini.php"

# login credentials
login: admin
password: 

# API token authentication
token:8beb3ef154e073f225bc2607e31d2bf1

# directory of piwikprofile.exclude files
excludeDir: ./exclude

# directory for DB to track what lines to skip (sqlite?)
batchDbDir: ./db

[default]
#this section includes default settings

[example profile]
# each profile section maintains infomration for the particular piwik profile.
#idsite is for site ide of piwik profile
idsite:
# Base URL is for the base url of each request
baseUrl:
# list of URL's to exclude
ExcludeUrls:
# base directory for logs
logDir:
# name of log file(s) in comma separated list
# replace YYYY with four digit year
# replace YY with 2 digit year (not implemented yet)
# replace MM with 2 digit month
# replace MMM with 3 character month (not implemented yet)
logFile:
# piwik regex format for log row formats. Must be enclosed in double quotes to segregate the special characters. instead of emvalue use "None"
logFormatRegex:None
# piwik defined names for log file format. instead of empty value enter "None"
logFormatName:None
#Reference to file listing URL's to exclude
excludePathFrom:
#Name of host for web asset, may not match logfile virtual host listing.
logHostName:




[profile 1]
name: GeoGratis Services (loc, maps, extract)
idsite: 18
sourceUrl:
ExcludeUrls:
logFile: /www/httpLogsVireo/s-she-beluga3/osg.cits.rncan.gc.ca/%YYYY/%MM/local1_httpdAccess, /www/httpLogsVireo/s-she-carcajou3/osg.cits.rncan.gc.ca/%YYYY/%MM/local1_httpdAccess
#regex pattern that works for logsys format.
logFormatRegex:".* (?P<host>[\w\-\.]*:)(?::\d+)? (?P<ip>\S+) \S+ \S+ \[(?P<date>.*?) (?P<timezone>.*?)\] \S+ (?P<path>.*?) \S+ (?P<status>\S+) (?P<length>\S+) (?P<referrer>\S+) (?P<user_agent>.*)"
logFormatName:None
excludePathFrom:
logHostName:geogratis.gc.ca

[profile 2]
name: Atlas (WMS)
idsite: 23
sourceUrl:
ExcludeUrls:
logFile: /www/httpLogsVireo/mata2/wms.atlas.gc.ca_dogbert3/%YYYY/%MM/local1_httpdAccess, /www/httpLogsVireo/mata2/wms.atlas.gc.ca_dilbert3/%YYYY/%MM/local1_httpdAccess
#regex pattern that works for logsys format.
logFormatRegex:".* (?P<host>[\w\-\.]*:)(?::\d+)? (?P<ip>\S+) \S+ \S+ \[(?P<date>.*?) (?P<timezone>.*?)\] \S+ (?P<path>.*?) \S+ (?P<status>\S+) (?P<length>\S+) (?P<referrer>\S+) (?P<user_agent>.*)"
logFormatName:None
excludePathFrom:
logHostName:wms.atlas.gc.ca

[profile 3]
name: Centre For Topographic Information Sherbrooke (WMS)
idsite: 15
sourceUrl:
ExcludeUrls:
logFile: /www/httpLogsVireo/mata2/wms.cits.rncan.gc.ca_dogbert3/%YYYY/%MM/local1_httpdAccess, /www/httpLogsVireo/mata2/wms.cits.rncan.gc.ca_dilbert3/%YYYY/%MM/local1_httpdAccess
#regex pattern that works for logsys format.
logFormatRegex:".* (?P<host>[\w\-\.]*:)(?::\d+)? (?P<ip>\S+) \S+ \S+ \[(?P<date>.*?) (?P<timezone>.*?)\] \S+ (?P<path>.*?) \S+ (?P<status>\S+) (?P<length>\S+) (?P<referrer>\S+) (?P<user_agent>.*)"
logFormatName:None
excludePathFrom:
logHostName:wms.cits.nrcan.gc.ca

[profile 4]
name: GeoBase (WMS)
idsite: 12
sourceUrl:
ExcludeUrls:
logFile: /www/httpLogsVireo/mata2/wms.geobase.ca_dogbert3/%YYYY/%MM/local1_httpdAccess, /www/httpLogsVireo/mata2/wms.geobase.ca_dilbert3/%YYYY/%MM/local1_httpdAccess
#regex pattern that works for logsys format.
logFormatRegex:".* (?P<host>[\w\-\.]*:)(?::\d+)? (?P<ip>\S+) \S+ \S+ \[(?P<date>.*?) (?P<timezone>.*?)\] \S+ (?P<path>.*?) \S+ (?P<status>\S+) (?P<length>\S+) (?P<referrer>\S+) (?P<user_agent>.*)"
logFormatName:None
excludePathFrom:
logHostName:ows.geobase.ca



[profile 6]
name: Arc GIS External (ESRI REST)
idsite: 29
sourceUrl:
ExcludeUrls:
logFile: /www/wwwWebAnalytics/ArcGISServerClusters/IIS/External/u_ex%YY%MM%DD.log
logFormatRegex:None
logFormatName:None
excludePathFrom:
logHostName:geoappext.nrcan.gc.ca

#[profile 5]
# Trying to run this one last as not to clog the process, however they may not run in numerical or listed order
#name: Toporama SST (WMS)
#idsite: 14
#sourceUrl:
#ExcludeUrls:
#logFile: /www/httpLogsVireo/mata2/wms.sst-sw.rncan.gc.ca_dilbert3/%YYYY/%MM/local1_httpdAccess, /www/httpLogsVireo/mata2/wms.sst-sw.rncan.gc.ca_dogbert3/%YYYY/%MM/local1_httpdAccess
#regex pattern that works for logsys format.
#logFormatRegex:".* (?P<host>[\w\-\.]*:)(?::\d+)? (?P<ip>\S+) \S+ \S+ \[(?P<date>.*?) (?P<timezone>.*?)\] \S+ (?P<path>.*?) \S+ (?P<status>\S+) (?P<length>\S+) (?P<referrer>\S+) (?P<user_agent>.*)"
#logFormatName:None
#excludePathFrom:
#logHostName:wms.sst-sw.nrcan.gc.ca





